* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#section-1 {
    display: none;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

#product-container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.product-wrapper {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    cursor: pointer;
}

.product-wrapper:hover {
    background-color: green;
    color: white;
}

.product-quantity {
    font-size: 14px;
    margin-top: 4px;
}

.product-price {
    font-size: 14px;
    margin-top: 4px;
}

#section-2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

#payment-wrapper {
    display: flex;
    flex-direction: column;
}

.price-wrapper {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.price-wrapper:hover {
    background-color: pink;
    color: white;
}

#section-3 {
    display: none;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.order-details {
    margin: 4px 0;
}

#continue-btn {
    background-color: lightcoral;
    color: white;
    padding: 8px;
    margin-top: 12px;
    cursor: pointer;
}